.container {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(auto-fill, min(150px));
	grid-template-rows: repeat(auto-fill, min(200px));
}
  
  // Just for style
  
  @import url("https://fonts.googleapis.com/css?family=Shrikhand&display=swap");
  
  #root {
	overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    transform-origin: 0 0;
  }

  .item {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	font-family: "Shrikhand";
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid black;
	box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
  }
  
  body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
    overflow: hidden;
	background-color: rgb(223, 220, 220);
  }

  body * {
	touch-action: none;
  }
  
  .container {
	width: 100%;
	height: 100%;
	min-height: 500px;
  }

  .img {
	width: 100%;
  }

  .div {
	display: block;
  }

  * {
	margin: 0;
	padding: 0;
  }

  .modal {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: none;

	background-color: rgba(0,0,0, 0.4);
  }

  //오버레이 배경 설정
  #modal.modal-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	//오버레이 배경색
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
  }

  #modal .modal-window {
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur( 13.5px );
	-webkit-backdrop-filter: blur( 13.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	width: 400px;
	height: 500px;
	position: relative;
	padding: 10px;
  }

  @media ( max-width: 1800px ) {
	.container {
		width: 2100px;
		height: 1386px;
		transform: translate(-250px, -200px) scale(0.8);
	}
  }

  @media ( max-width: 1300px ) {
	.container {
		width: 1900px;
		height: 1386px;
		transform: translate(-220px, -200px) scale(0.8);
	}
  }

  @media ( max-width: 900px ) {
	.container {
		width: 1500px;
		height: 1386px;
		transform: translate(-200px, -200px) scale(0.8);
	}
  }

  @media ( max-width: 500px ) {
	.container {
		width: 1000px;
		height: 1386px;
		transform: translate(-100px, -200px) scale(0.7);
	}
  }


